:root{
    --color:#163853
}
body{

    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
}
main{

    display: flex;

    
}
section{
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* ----------------------------------------- */
    font-size: 1.5rem;
}
.title{

    font-size: 2rem;
    text-align: center
    ;
}

img{
    border-radius:50% ;
        /* ----------------------------------------- */

    height: 20%;
    width: 80%;
    margin-bottom: 10px;
}
.contact p ,.EDUCATION {
        /* ----------------------------------------- */

    font-size: 1rem;
    text-align: start;
}
.EDUCATION strong {
    font-weight: lighter;
    /* color: #5b5149; */
    display: block;
}

.sectionLeft ul{
        /* ----------------------------------------- */

    font-size: 1rem;
    padding-left: 10px;

}
.sectionLeft{
    width: 40%;
    background-color:var(--color) ;
color: aliceblue;
}


.textBlue{
    margin-bottom: 0;
color: var(--color);
}
.sectionRight{
    margin-left: 10px;
    padding-left: 10px;
    color: #5b5149;
}
.bgBlue{
    background-color: black;
    height: 2px;
    opacity: 1;
    margin-bottom: 0;
}
.sectionRight h1 span{
color: var(--color);
font-weight: 500;
}
.borderBottom{
    border-bottom: 5px solid var(--color);
}
.sectionRight ul{
        /* ----------------------------------------- */

    font-size: 1.1rem;
margin-top: 5px;
margin-bottom: 0;
    padding-left: 20px;
}

.float-end{
float:right;
}
.work{
    /* font-weight: 500; */
    /* padding-top: 30px; */
        position:relative; 
        /* margin-bottom: 0; */
        /* padding-bottom: 2.5em; */
    }
    

   .REFERENCE{
    display: flex;
    justify-content: space-between;
        /* ----------------------------------------- */
line-height: 2rem;
    font-size: 1.1rem;
   }
    
      .REFERENCE span{
        display: block;
      }  
    .work:before {
        content:"";
        position: absolute;
        left: -12px;
        border-left: 1px solid black;
        height: 100%;
    }
    .work ul{
padding: 0;
padding-bottom: 10px;
        list-style-type: ' - ';
    }
    .work strong{
            /* ----------------------------------------- */

        font-size: 1.3rem;
    }

    .profile p,.work,.EXPERIENCE{
        font-family: 'Times New Roman', Times, serif;
            /* ----------------------------------------- */

        font-size: 1.2rem;
    }
 

.title:hover .firstName strong,.title:hover #lastName span,.title:hover .subTitleHidden{ 
           display: none;
    }
.title:hover .firstName::after {
    content: 'Amwaj';
  
}
.title:hover #lastName::after{
    content: 'Alharbi';
}

.title:hover .subTitle::after{
    content: 'Developer';
}



 


.skill:hover ul li span{
    display: none;
}

.skill:hover ul li:nth-child(1):after{
    content: 'Full knwledge of ( Dart&Flutter , HTML , JavaScript and Reactjs)';
        
 }

 .skill:hover ul li:nth-child(4):after{
    content: 'Teamwork';
        
 }.skill:hover ul li:nth-child(3):after{
    content: 'Time Management';
        
 }.skill:hover ul li:nth-child(2):after{
    content: 'Analyze Data using Microsoft Excel';
        
 }
 .skill:hover ul li:nth-child(5):after{
    content: 'Research';
        
 }
 

 .profile:hover p span{
    display: none
 }
 .profile:hover p::after{
    content: "I'm Programmer who is interested in working in an environment that have a good reputation and high status like your entity and is ready to join your team to participate in working on programming and web designing .";
 }

.LANGUAGES:hover{
    .lang{
        visibility: hidden;
    }
}
.workSection:hover ul li strong span,.workSection:hover ul li span span,
.workSection:hover ul li:nth-child(2),.workSection:hover li:nth-child(3),.workSection:hover ul li ul li span,.workSection:hover ul li p span{
    display: none;
}

.workSection:hover ul li strong::after{
    content:'Tuwaiq Academy ';
}
.workSection:hover ul li span::after{
    content:'2024 -PRESENT ';
}
.workSection:hover ul li ul li::after{
    content: "In the camp, we were trained to create a website in the shortest time possible and with the highest efficiency. We also learned JavaScript, React JavaScript, HTML, and CSS.";
}
.workSection:hover ul li p::after{
    content: 'Training';
}


    @media only screen and (max-width:712px) {
        .profile p,.work,.EXPERIENCE{
            font-size: 0.7rem;
        }
        section{
      
            font-size: 0.9rem;
        }
        img{
            height: 7%;
        }
        .contact p ,.EDUCATION {
            font-size: 0.7rem;
        }
   
        .sectionLeft ul{
            font-size: 0.7rem;
        
        }

        

        .sectionRight h1 span{
         font-weight: 500;
        }
    
        .sectionRight ul{
            font-size: 0.8rem;
     
        }
        

            
        
           .REFERENCE{
       font-size: 0.6rem;
           }
   


            .work strong{
                font-size: 1rem;
            }
            .title{

                font-size: 1rem;
           
            }
    }